@import "../../style/breakpoints.scss";

.l-page {
  display: flex;
  background-color: var(--primary);
  color: var(--white);
  height: 100vh;
  justify-content: center;
}

.l-body {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 60vw;
  padding-top: 10vh;
  flex-direction: column;
}

.c-athn-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.11em;
}

.c-athn-subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
}

.c-email {
  margin-top: 25px;
  margin-bottom: 20px;
}

.c-signin-button {
  margin-top: 50px;
}

.c-account-creation {
  margin: 10px 0 20px 0;

  a {
    color: var(--white);
  }
}

.l-sso-login {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 100%;

  img {
    cursor: pointer;
  }
}
