@import "../../style/breakpoints.scss";

.l-page {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  color: var(--white);
  height: 100vh;
  align-items: center;
}

.l-body {
  display: flex;
  align-items: center;
  width: 60vw;
  max-width: 600px;
  padding-top: 10vh;
  flex-direction: column;
}

.c-athn-title {
  font-weight: 400;
  font-size: 48px;
  line-height: 59px;
  letter-spacing: -0.11em;
  margin-top: 30px;
}

.c-athn-subtitle {
  font-weight: 400;
  font-size: 25px;
  line-height: 31px;
}

.c-email {
  margin-top: 25px;
  margin-bottom: 20px;
}

.c-signin-button {
  margin-top: 50px;
}

.c-account-creation {
  margin: 10px 0 20px 0;

  a {
    color: var(--white);
  }
}

.c-required-fields-message,
.c-unauthorized-message {
  margin-top: 10px;
  color: var(--red--dark-theme);
}

.l-sso-login {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  width: 100%;

  img {
    cursor: pointer;
  }

  &--small-screen {
    display: none;
  }
}

.c-sso-button {
  margin-bottom: 20px;
}

.c-copyright {
  display: none;
}

@media screen and (max-width: $medium) {
  .l-page {
    height: 700px;
    border-radius: 0px 0px 38px 38px;
  }

  .l-body {
    padding-top: unset;
    width: 80vw;
  }

  .c-athn-subtitle {
    margin: 1vh 0 1vh 0;
  }

  .c-signin-button {
    margin: 20px 0 20px 0;
  }

  .c-account-creation {
    margin: 0 0 60px 0;
  }

  .l-sso-login {
    display: none;

    &--small-screen {
      display: block;
      margin-top: 20px;
      width: 100%;
    }
  }

  .c-copyright {
    display: block;
    color: var(--grey-4);
    margin-top: 80px;
    padding-bottom: 30px;

    @media screen and (min-height: 800px) {
      padding-bottom: unset;
      margin-top: unset;
      position: absolute;
      bottom: 30px;
    }
  }
}
