@import "../../style/breakpoints.scss";

.l-page {
  margin: 0 0 30px 48px;
}

.l-curation-section,
.l-best-auctions-section {
  margin-top: 37px;
  height: 100%;
  color: var(--font);
  max-width: 1225px;

  h5 {
    margin-bottom: 17px;
  }

  .l-best-auctions-pieces,
  .l-curation-pieces {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;

    max-width: 1200px;
    overflow: scroll;
    padding-right: 48px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.l-best-seller-artists-section {
  margin-top: 37px;
  color: var(--font);
  width: 100%;
  max-width: 1225px;

  h5 {
    margin-bottom: 17px;
  }

  .l-best-seller-artists {
    overflow: scroll;
    display: flex;
    padding-right: 48px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

@media screen and (max-width: $medium) {
  .l-curation-section,
  .l-best-auctions-section {
    .l-best-auctions-pieces,
    .l-curation-pieces {
      display: flex;
      overflow: scroll;
      flex-flow: nowrap;
    }
  }
}

@media screen and (min-width: $medium) {
  .l-page {
    display: flex;
    flex-direction: column;
  }

  .l-curation-section,
  .l-best-auctions-section {
    width: 100%;
    display: flex;
    flex-direction: column;

    h5 {
      width: 100%;
    }
  }

  .l-best-seller-artists-section {
    .l-best-seller-artists {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      row-gap: 40px;
    }
  }
}

@media screen and (min-width: $large) {
  .l-page {
    align-items: center;
  }
}
