@import "../../style/breakpoints.scss";

.c-title {
  width: 100%;
  color: var(--font);
}

.c-followed-artists {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  gap: 20px;
  margin-top: 20px;
  color: var(--font);
}

.c-search-more-artists {
  margin-top: 70px;
}
