@import "../../style/breakpoints.scss";

.c-art-piece-preview {
  border: 1px solid var(--font);
  padding-bottom: 15px;

  img {
    width: 260px;
    height: 203px;
  }

  .c-art-name {
    margin: 8px 0 6px 13px;
  }

  .c-art-data {
    margin: 5px 0 0 13px;
  }
}

@media screen and (min-width: $medium) {
  .c-art-piece-preview {
    img {
      width: 40vw;
      height: unset;
    }
  }
}

@media screen and (min-width: $large) {
  .c-art-piece-preview {
    img {
      width: 28vw;
      max-width: 377px;
    }
  }
}
