.l-input-wrapper {
  border: 1px solid var(--font);
  display: flex;
  width: 100%;

  ::placeholder {
    color: var(--font);
    opacity: 1; /* Firefox */
  }
}

.c-input-text {
  border: none;
  background-color: transparent;
  height: 40px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: var(--font);
  padding-left: 20px;
  width: 100%;
  font-family: "Arvo", serif;

  &:focus {
    outline: none;
  }
}

.c-icon {
  padding-left: 20px;
}
